body { 
    margin: 0; 
    background-color: #000; 
    overflow: hidden; 
}
#container { 
    position: fixed; 
    width: 100vw; 
    height: 100vh; 
}
.mensaje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    font-size: 2.5rem;
    text-shadow: 0 0 15px #ff00ea;
    z-index: 10;
    pointer-events: none;
    canvas {
    filter: hue-rotate(280deg) brightness(1.2);
}